DialogOverlay
{
   zorder 500
   container Panel(Dialog/Background)
   { 
      vert_align top
      metrics_mode pixels
      left   100
      top    100
      width  500
      height 500
      material dialog_panel

      //////////////////////////////////////////////
      // Title gfx's.
      //////////////////////////////////////////////
      element Panel(Dialog/Title/Login)
      {
         vert_align top
         left   0.200
         top    0.026
         width  0.100
         height 0.045
         material dialog_title_login
      }

      //////////////////////////////////////////////
      // Input Playername.
      //////////////////////////////////////////////
      container Panel(Dialog/Login/Playername)
      {
         metrics_mode pixels
         left 155
         top 310
         width 300
         height 20
         material dialog_text_input
         element TextArea(Dialog/Login/Playername/Title)
         {
            metrics_mode pixels
            left    0
            top   -14
            width 150
            height 20
            font_name TrebuchetMSBold
            char_height 16
            caption Enter your Name:
            colour_top    0.9 0.9 0.9
            colour_bottom 0.5 0.5 0.5
         }
         element TextArea(Dialog/Login/Playername/Text)
         {
            metrics_mode pixels
            metrics_mode pixels
            left    5
            top     2
            width 300
            height 16
            font_name TrebuchetMSBold
            char_height 16
            colour_top    0.9 0.9 0.9
            colour_bottom 0.5 0.5 0.5
         }
      }

      //////////////////////////////////////////////
      // Input Password.
      //////////////////////////////////////////////
      container Panel(Dialog/Login/Password)
      {
         metrics_mode pixels
         left 155
         top 350
         width 300
         height 20
         material dialog_text_input
         element TextArea(Dialog/Login/Password/Title)
         {
            metrics_mode pixels
            left    0
            top   -14 
            width 150
            height 20
            font_name TrebuchetMSBold
            char_height 16
            caption Enter your Password:
            colour_top    0.9 0.9 0.9
            colour_bottom 0.5 0.5 0.5
         }
         element TextArea(Dialog/Login/Password/Text)
         {
            metrics_mode pixels
            metrics_mode pixels
            left    5 
            top     4
            width 300
            height 16
            font_name TrebuchetMSBold
            char_height 22
            colour_top    0.9 0.9 0.9
            colour_bottom 0.5 0.5 0.5
         }
      }

      //////////////////////////////////////////////
      // Input Retype Password.
      //////////////////////////////////////////////
      container Panel(Dialog/Login/RePassword)
      {
         metrics_mode pixels
         left  155
         top   390
         width 300
         height 20
         material dialog_text_input
         element TextArea(Dialog/Login/RePassword/Title)
         {
            metrics_mode pixels
            left    0
            top   -14
            width 150
            height 16
            font_name TrebuchetMSBold
            char_height 16
            caption New Character: Verify Password:
            colour_top    0.9 0.9 0.9
            colour_bottom 0.5 0.5 0.5
          }
          element TextArea(Dialog/Login/RePassword/Text)
          {
            metrics_mode pixels
            left    5 
            top     4
            width 300
            height 16
            font_name TrebuchetMSBold
            char_height 22
            colour_top    0.9 0.9 0.9
            colour_bottom 0.5 0.5 0.5
         } 
      }

      //////////////////////////////////////////////
      // Meta Server choice
      //////////////////////////////////////////////
      container Panel(Dialog/MetaSelect/Back)
      {
         metrics_mode pixels
         left   140
         top    100
         width  332
         height 314
         material dialog_back_select
         element Panel(Dialog/MetaSelect/select)
         {
            metrics_mode pixels
            left     1
            top      1
            width  330
            height  12
            material dialog_select
         }
      }

      //////////////////////////////////////////////
      // Info panel.
      //////////////////////////////////////////////
      container Panel(Dialog/Info/Panel)
      {
         metrics_mode pixels
         left   153
         top    433
         width  100 
         height  14
      }
   }
}

template element TextArea(Dialog/TextRow)
{
    metrics_mode pixels
    left      3
    top     101
    width   330
    height   13
    font_name TrebuchetMSBold
    char_height 14
    colour_top    1.0 1.0 1.0
    colour_bottom 0.7 0.7 0.7
}


