RowOverlay
{
   zorder 500
   container Panel(Diog/Bgound)
   {
      vert_align top
      metrics_mode pixels
      left   0
      top    0
      width  1024
      height 64
   element TextArea(RowOverlayText)
   {
       metrics_mode pixels
       left    1
       top     1
       width 1024
       height 64
//       font_name Arial
    font_name TrebuchetMSBold
       char_height 64
       colour_top    0.9 0.9 0.9
       colour_bottom 0.5 0.5 0.5
    }
}
}
