template container Panel(TextWindow/Frame)
{
    metrics_mode pixels
    vert_align bottom
    horz_align right
    left    -330 
    top     -150
    width    330
    height   150
    material Color/TextwindowColor
//    transparent true 
}

template container Panel(TextWindow/Headline)
{
    metrics_mode pixels
    left     0 
    top      0
    width  100
    height  18
    material textwin/head
}

template element Panel(TextWindow/ButtonDown)
{
    metrics_mode pixels
    left   301 
    top      0
    width   14
    height  18
    material textwin/button01_up
}

template element Panel(TextWindow/ButtonUp)
{
    metrics_mode pixels
    left   316 
    top      0
    width   14
    height  18
    material textwin/button02_up
}

template element TextArea(TextWindow/TextRow)
{
    metrics_mode pixels
    left      5
    top       0
    width   320
    height   30
    font_name TrebuchetMSBold
    char_height 16
    colour_top    0.5 0.7 0.5
    colour_bottom 0.3 0.5 0.3
}

template element TextArea(TextWindow/TitleText)
{
    metrics_mode pixels
    left      6
    top       2
    width   100
    height   17
    font_name TrebuchetMSBold
    char_height 16
    colour_top    0.9 0.9 0.9
    colour_bottom 0.5 0.5 0.5
}
