# written by PropertiesConfiguration
# Mon Jul 26 18:10:34 CEST 2010

imageset.filename.xml = GUI_ImageSet.xml
imageset.maxWidth = 768
imageset.maxHeight = 768
images.dir = ./gfx_source
imageset.border.color.red = 0
imageset.border.color.green = 255
imageset.border.color.blue = 255
imageset.border.size = 0
imageset.restrictSize = true
imageset.filename = Atlas_Gui_Elements.png
