# written by PropertiesConfiguration
# Fri May 18 23:02:03 CEST 2007

imageset.filename.xml = GUI_ImageSet.xml
imageset.maxWidth = 768
imageset.maxHeight = 768
images.dir = /home/fpc/gfx_source
imageset.border.color.red = 0
imageset.border.color.green = 255
imageset.border.color.blue = 255
imageset.border.size = 0
imageset.filename = Imageset.png
imageset.restrictSize = true
