/* General */

body {
    background:#fff;
    color:#000;
    margin:1em 1em 1em 3em;
    text-align:justify
}

a:link, a:visited, a:hover, a:active { text-decoration:underline }
a:link, a:visited { color:#00008b /* darkslateblue */ }
a:hover { background:#b8840b /* darkgoldenrod */ }
a:active { background:#daa520 /* goldenrod */ }

h1, h2, h3, h4, h5, h6 { text-align:left }

h1 { font-size:200% }
h2 { font-size:185% }
h3 { font-size:170% }
h4 { font-size:155% }
h5 { font-size:140% }
h6 { font-size:125% }

h1 a:link, h2 a:link, h1 a:visited, h2 a:visited { color:#fff }

table {
    border:thin solid #00008b; /* darkslateblue */
    margin-left:1em
}

th {
    background:#b0c4ed; /* lightsteelblue */
    border:none;
    font-weight:bolder;
    text-align:center
}

td {
    background:#fff;
    border:none
}


/* advice and note */
div.advice, div.note {
    background:#b0c4ed; /* lightsteelblue */
    border:thin solid #00008b; /* darkslateblue */
    margin:2px 0 0 1em;
    padding:2px 1em
}

div.advice img, div.note img {
    float:left;
    margin-right:1em
}


/* dialog */

div.dialog {
    border:thin solid #fff;
    margin-bottom:1em
}

div.dialog img {
    float:left;
    margin-right:1em
}

div.dialog p {
    clear:both
}


/* document */

div.daiml-document h1 {
    background:#6a5acd; /* slateblue */
    border-top:thick solid #00008b; /* darkslateblue */
    color:#fff;
    padding:2px;
    text-align:center
}


/* section */

div.daiml-section {
    margin-left:1em;
    padding-bottom:2px
}

div.daiml-section h2 {
    background:#6a5acd; /* slateblue */
    border-top:thick solid #00008b; /* darkslateblue */
    color:#fff;
    padding:2px
}
div.daiml-section h3, div.daiml-section h4, div.daiml-section h5, div.daiml-section h6
{
    border-top:thin solid #00008b; /* darkslateblue */
    color:#6a5acd; /* slateblue */
    padding:2px
}


/* toc */

div.daiml-toc {
    background:#b0c4ed; /* lightsteelblue */
    border:thin solid #00008b; /* darkslateblue */
    font-size:80%;
    text-align:left;
    width:35%
}

div.daiml-toc h2 {
    background:#6a5acd; /* slateblue */
    color:#fff;
    padding:2px
}

p.daiml-toc {
    border-top:thick solid #00008b; /* darkslateblue */
    padding:2px;
    text-align:right
}
