[Desktop Entry]
Type=Application
Version=1.1
Name=Daimonin
GenericName=MMORPG
Comment=Free open source MMORPG
Icon=%INSTALLDIR%/%INSTALLSUFFIX%/icon.png
Categories=Game;
TryExec=%LAUNCHDIR%/%LAUNCHER%
Exec=%LAUNCHDIR%/%LAUNCHER%
Actions=PlayMain;PlayDev;Uninstall

[Desktop Action PlayMain]
Name=Play Daimonin (main client)
Exec=%LAUNCHDIR%/%LAUNCHER% main
Icon=%INSTALLDIR%/%INSTALLSUFFIX%/icon-playmain.png

[Desktop Action PlayDev]
Name=Play Daimonin (dev client)
Exec=%LAUNCHDIR%/%LAUNCHER% dev
Icon=%INSTALLDIR%/%INSTALLSUFFIX%/icon-playdev.png

[Desktop Action Uninstall]
Name=Uninstall Daimonin
Exec=%LAUNCHDIR%/%LAUNCHER% uninstall
Icon=%INSTALLDIR%/%INSTALLSUFFIX%/icon-uninstall.png
