Overlay/Loading
{
    zorder 400
    container Panel(OverlayElement/Screen1)
    {
        left 0.0
        top 0
        width  0.5
        height 1
        material GUI/LoadScreen1
    }
    container Panel(OverlayElement/Screen2)
    {
        left 0.0
        top 0
        width  0.5
        height 1
        material GUI/LoadScreen2
    }
}
