# top directory containing the single PNG images
images.dir=gfx_source

# name of the PNG that contains all the images
imageset.filename=Imageset.png

# name of the XML that contains the images meta information
imageset.filename.xml=GUI_ImageSet.xml

# limit the enclosing image size, specified by 'imageset.maxWidth' and 'imageset.maxHeight'
imageset.restrictSize=true

# NOTE: for best packing results chose same values for maxWidth and maxHeight
# imageset maximum width
imageset.maxWidth=768
# imageset maximum height
imageset.maxHeight=768

# border size around every image. set to 0 for no border. values greater than 3 get reset to 3.
imageset.border.size=0
# border color for every image
# white : 255,255,255
# yellow: 255,255,0
# red   : 255,0,0
# green : 0,255,0
# blue  : 0,0,255
# orange: 255,128,0
# cyan  : 0,255,255
# purple: 128,0,128
imageset.border.color.red=  0
imageset.border.color.green=255
imageset.border.color.blue= 255